.homeLink {
    text-decoration: none;
    color: #efe1e1;
}

.menuBarLink { 
    text-decoration: none;
    color: #fff;
}

.header {
    width: 100%;
    height: 100%;
    padding: 50px 0px 50px;
    background-color:#e3bedd ;
    color: white;
    text-align: center;
    justify-content: center;
  
}